 /*


░C░S░S░ ░b░y░ ░a░d░z░n░

 
 */

 /*==================
 COLOR HEX

 DARK GREEN : #0B764E;
==================

/*
===BUTTON STYLE===
*/
 .btn-white {
   background-color: #F5F5F5;
   border-style: none !important;
   transition: .4s text-decoration: none;
   color: #000000;
 }

 .btn-dark {
   background-color: #12182B;
   border-style: none !important;
   transition: .4s text-decoration: none;
 }

 .btn-dark-outline {
   border-style: solid;
   border-color: #12182B;
   border-width: thin;
   transition: .4s text-decoration: none;
   color: #12182B;
 }

 .btn-blue {
   background-color: #1974D3;
   border-style: none !important;
   transition: .4s text-decoration: none;
 }

 .btn-blue-outline {
   border-style: solid;
   border-color: #1974D3;
   border-width: thin;
   transition: .4s text-decoration: none;
   color: #1974D3;
 }

 .btn-red {
   background-color: #D1193E;
   border-style: none !important;
   transition: .4s text-decoration: none;
   color: #FFFFFF;
 }

 .btn-red-outline {
   border-style: solid;
   border-color: #D1193E;
   border-width: thin;
   transition: .4s text-decoration: none;
   color: #D1193E;
 }

 .btn-green {
   background-color: #0B764E;
   border-style: none !important;
   transition: .4s text-decoration: none;
   color: #FFFFFF;
 }

 .btn-green:active {
   text-decoration: none;
 }

 .size-s {
   padding: 5px;
   padding-right: 15px;
   padding-left: 15px;
   border-radius: 15px 15px 15px 15px;
   font-size: 10px;
 }

 .size-m {
   padding: 8px;
   padding-right: 25px;
   padding-left: 25px;
   border-radius: 25px 25px 25px 25px;
   font-size: 16px;
   font-weight: 350;

 }

 .size-l {
   padding: 8px;
   padding-right: 30px;
   padding-left: 30px;
   border-radius: 25px 25px 25px 25px;
   font-size: 22px;
 }

 .expand-l {
   padding-right: 30%;
   padding-left: 30%;
 }

 .btn-left {
   float: left;

 }

 .btn-mid {
   float: none;
 }

 .btn-mid {
   float: right;
 }

 .shadoww {
   box-shadow: 2px 4px 10px #888888;
 }

 /*
===END STYLE===
*/


 /*.sml {
  padding-top: 50px;
}
*/
 .panel {
   width: 66% !important;
 }

 .mynav {
   position: absolute;
   width: 100%;
   z-index: 10;
 }

 .logo-txt {
   font-weight: 400;
   color: white;
   margin-top: 10px;
   margin-left: 15px;
   font-size: 20px;
 }

 .panell {
   position: absolute;
   color: white;
   right: 15px;
   top: 10px;
 }

 .logg {
   position: absolute;
   color: white;
   right: 55px;
   top: 10px;
 }

 .cartt {
   position: absolute;
   color: white;
   right: 55px;
   top: 10px;
 }

 .nav-green {
   background-color: #0B764E !important;
 }

 .img-profile {
   width: 125px !important;
   height: 125px !important;
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .name-profile {
   margin-top: 20px;
   font-size: 20px;
   color: #FFFFFF;
   font-weight: 300;
   text-align: center;
   max-width: 240px;
   word-break: break-all;
 }

 .navbar-side {
   margin-top: 30px;
   border-top: .1px solid white;
 }

 .nav-side {
   margin-bottom: -10px;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 1px;
 }

 .spasi {
   padding-top: auto;
 }

 .swiper-container {
   height: 300px !important;
 }

 .swiper-slide {
   padding: 0 !important;
   position: relative;
 }

 .cont-swip {
   height: 100%;
   width: 100%;
 }

 .row-product {
   margin-left: 10px;
   margin-top: -20px !important;
 }

 .header2 {
   margin-top: -15px;
   line-height: 1;
   margin-left: 15px;
   font-size: 32px;
   color: #0B764E;
   font-weight: 500;
 }

 .edited {
   margin-top: -25px !important;
 }

 .box {
   height: 225px !important;
 }


 .mdl-edit {
   border-radius: 35px 35px 0px 0px;
 }

 .logo-img {
   position: relative;
   top: 20px;
   width: 350px;
   height: 350px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .login-title {
   margin-top: 50px;
   color: #0B764E;
   font-size: 35px;
   font-weight: 600;
   text-align: center;
 }

 .product-title {
   position: absolute;
   top: 0px;
   left: 15px;
   max-width: 200px;
   line-height: 1.1;
 }

 .head-title {
   color: #FFFFFF;
   font-size: 29px;
   font-weight: 500;
   max-width: 145px;
   word-break: break-all;
 }

 .small-title {
   margin-top: -20px;
   opacity: 0.8;
   font-size: 15px;
   font-weight: 400;
   color: #FFFFFF;
 }

 .bottom-product {
   position: absolute;
   bottom: 20px;
   left: 15px;
 }

 .abt {
   max-height: 800px !important;
 }

 .desc-product {
   font-size: 30px;
   font-weight: 450;
   color: #0B764E;
   margin-left: 10px;
   margin-top: -10px;
 }

 .info-product {
   position: relative;
   width: 110px;
   margin-left: 10px;
   padding-bottom: 30px;
 }

 .text-product {
   max-width: 350px;
   max-height: 300px;
   margin-left: 10px;
 }

 .popup-title {
   margin: 15px;
   color: #0B764E;
   font-size: 30px;
   font-weight: 500;
   line-height: 1;
   max-width: 350px;
 }

 .close-icon {
   color: #0B764E;
   position: absolute;
   top: 0px;
   right: 0px;
   margin-top: 15px;
   margin-right: 20px;
 }

 .result-screen {
   background-image: url("../img/checkout.png");
 }

 .head-res {
   margin-top: 100px;
   margin-left: 20px;
   width: 235px;
   font-size: 40px;
   font-weight: 400;
   color: #FFFFFF;
 }

 .head-res2 {
   font-weight: 500;
 }

 .info-res {
   font-size: 28px;
   font-weight: 560;
   text-align: center;
   word-spacing: 1.5px;
   line-height: 1.2;
   margin-top: 70%;
   color: #FFFFFF;
   border: 2.5px solid white;
   margin-right: 20px;
   margin-left: 20px;
 }







 :root {
   --f7-login-screen-blocks-max-width: 480px;
   /*
   --f7-login-screen-list-button-text-color: var(--f7-theme-color);
   */
   --f7-login-screen-title-text-align: center;
   --f7-login-screen-title-text-color: inherit;
   --f7-login-screen-title-letter-spacing: 0;
   --f7-login-screen-title-font-weight: 600;
   --f7-login-screen-title-font-size: 28px;
   --f7-login-screen-content-bg-color: #fff;
   --f7-login-screen-bg-color: #fff;
 }

 :root .theme-dark,
 :root.theme-dark {
   --f7-login-screen-bg-color: #121212;
   --f7-login-screen-content-bg-color: #121212;
 }

 .ios {
   --f7-login-screen-blocks-margin-vertical: 25px;
 }

 .ios .theme-dark,
 .ios.theme-dark {
   --f7-login-screen-bg-color: #000;
   --f7-login-screen-content-bg-color: #000;
 }

 .md {
   --f7-login-screen-blocks-margin-vertical: 24px;
 }

 .aurora {
   --f7-login-screen-blocks-margin-vertical: 16px;
 }




 .demo-swiper .swiper-slide {
   padding: 90px;
   font-size: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   color: #000;
 }

 .demo-swiper .swiper-slide {
   box-sizing: border-box;
   border: 1px solid #ddd;
   background: #fff;
 }

 .demo-swiper .product {
   border-radius: 1.5rem;
   overflow: hidden;
 }

 .demo-swiper {
   margin: 0px 0 35px;
   font-size: 18px;
   height: 220px;
 }

 .demo-swiper.demo-swiper-auto .swiper-slide {
   width: 85%;
 }

 .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
   width: 70%;
 }

 .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
   width: 30%;
 }

 .demo-card-header-pic .card-header {
   height: 40vw;
   background-size: cover;
   background-position: center;
   color: #fff;
 }

 .demo-card-header-pic .card-content-padding .date {
   color: #8e8e93;
 }

 .demo-facebook-card .card-header {
   display: block;
   padding: 10px;
 }

 .demo-facebook-card .demo-facebook-avatar {
   float: left;
 }

 .demo-facebook-card .demo-facebook-name {
   margin-left: 44px;
   font-size: 14px;
   font-weight: 500;
 }

 .demo-facebook-card .demo-facebook-date {
   margin-left: 44px;
   font-size: 13px;
   color: #8e8e93;
 }

 .demo-facebook-card .card-footer {
   background: #fafafa;
 }

 .demo-facebook-card .card-footer a {
   color: #81848b;
   font-weight: 500;
 }

 .demo-facebook-card .card-content img {
   display: block;
 }

 .demo-facebook-card .card-content-padding {
   padding: 15px 10px;
 }

 .demo-facebook-card .card-content-padding .likes {
   color: #8e8e93;
 }



 /*LIB*/

 :root {
   --f7-card-margin-horizontal: 16px;
   --f7-card-margin-vertical: 16px;
   --f7-card-content-padding-horizontal: 16px;
   --f7-card-content-padding-vertical: 16px;
   --f7-card-border-radius: 4px;
   --f7-card-font-size: inherit;
   --f7-card-header-text-color: inherit;
   --f7-card-header-font-weight: 400;
   --f7-card-header-padding-horizontal: 16px;
   --f7-card-footer-font-weight: 400;
   s --f7-card-footer-font-size: inherit;
   --f7-card-footer-padding-horizontal: 16px;
   --f7-card-expandable-font-size: 16px;
   --f7-card-expandable-tablet-width: 670px;
   --f7-card-expandable-tablet-height: 670px;
   --f7-card-bg-color: #fff;
   --f7-card-outline-border-color: rgba(0, 0, 0, 0.12);
   --f7-card-header-border-color: rgba(0, 0, 0, 0.1);
   --f7-card-footer-border-color: rgba(0, 0, 0, 0.1);
   --f7-card-expandable-bg-color: #fff;
 }

 :root .theme-dark,
 :root.theme-dark {
   --f7-card-bg-color: #1c1c1d;
   --f7-card-expandable-bg-color: #1c1c1d;
   --f7-card-outline-border-color: rgba(255, 255, 255, 0.15);
   --f7-card-header-border-color: rgba(255, 255, 255, 0.15);
   --f7-card-footer-border-color: rgba(255, 255, 255, 0.15);
   --f7-card-footer-text-color: rgba(255, 255, 255, 0.55);
 }

 .ios {
   --f7-card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
   --f7-card-header-font-size: 17px;
   --f7-card-header-padding-vertical: 10px;
   --f7-card-header-min-height: 44px;
   --f7-card-footer-text-color: rgba(0, 0, 0, 0.45);
   --f7-card-footer-padding-vertical: 10px;
   --f7-card-footer-min-height: 44px;
   --f7-card-expandable-margin-horizontal: 20px;
   --f7-card-expandable-margin-vertical: 30px;
   --f7-card-expandable-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
   --f7-card-expandable-border-radius: 15px;
   --f7-card-expandable-tablet-border-radius: 5px;
   --f7-card-expandable-header-font-size: 27px;
   --f7-card-expandable-header-font-weight: bold;
 }

 .md {
   --f7-card-box-shadow: var(--f7-elevation-1);
   --f7-card-header-font-size: 16px;
   --f7-card-header-padding-vertical: 4px;
   --f7-card-header-min-height: 48px;
   --f7-card-footer-text-color: rgba(0, 0, 0, 0.54);
   --f7-card-footer-padding-vertical: 4px;
   --f7-card-footer-min-height: 48px;
   --f7-card-expandable-margin-horizontal: 12px;
   --f7-card-expandable-margin-vertical: 24px;
   --f7-card-expandable-box-shadow: var(--f7-elevation-10);
   --f7-card-expandable-border-radius: 8px;
   --f7-card-expandable-tablet-border-radius: 4px;
   --f7-card-expandable-header-font-size: 24px;
   --f7-card-expandable-header-font-weight: 500;
 }

 .aurora {
   --f7-card-border-radius: 8px;
   --f7-card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
   --f7-card-header-font-size: 16px;
   --f7-card-header-font-weight: bold;
   --f7-card-header-padding-vertical: 8px;
   --f7-card-header-min-height: 48px;
   --f7-card-footer-text-color: rgba(0, 0, 0, 0.6);
   --f7-card-footer-padding-vertical: 8px;
   --f7-card-footer-min-height: 48px;
   --f7-card-expandable-margin-horizontal: 10px;
   --f7-card-expandable-margin-vertical: 20px;
   --f7-card-expandable-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
   --f7-card-expandable-border-radius: 8px;
   --f7-card-expandable-tablet-border-radius: 4px;
   --f7-card-expandable-header-font-size: 24px;
   --f7-card-expandable-header-font-weight: bold;
 }




 .grid-resizable-demo {
   --f7-grid-row-gap: 16px;
 }

 .grid-resizable-demo div[class*="col"] {
   margin-bottom: 0;
 }

 .grid-resizable-demo .demo-col-center-content {
   display: flex;
   align-items: center;
   justify-content: center;
 }



 :root {
   --skeleton-color: #ccc;
   --skeleton-icon-color: rgba(0, 0, 0, 0.25);
 }

 .theme-dark {
   --skeleton-color: #515151;
   --skeleton-icon-color: rgba(255, 255, 255, 0.25);
 }

 /*=======================================================================================================*/
 #tab-3-content {
   background-color: red !important;
   /*background-image: url("img/notlogin.jpeg");*/
 }

 /*=======================================================================================================*/